textarea#app-out {
    resize: none;
    overflow: hidden;
    width: 100%;
    height: 100px;
}

#app-header {
    overflow: hidden;
    margin: 0px 0px 20px 0px;
    display: flow-root;
}

#app-header button {
    height: 45px;
}

#header {
    margin: 0px 0px 50px 0px;
}

body {
    padding-left: 20px;
}

#app-header > * {
    margin: 10px;
    display: inline-block;
}

input#length {
    width: 40px;
}

input#count {
    width: 40px;
}
